# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production

# Build
client/build/
client/.pnp
client/.pnp.js

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Coverage
coverage/

# Misc
.cache/
dist/